:root {
    --background-color: #EBEBEB;
    --border-color: #BDBDBD;
    --button-color: #AE1C8E;
    --button-color-lighter: #bb40a0;
    --primary-message-color: #E3B4CE;
    --secondary-message-color: #B4B9E3;

    --border-config: 1px solid var(--border-color);
    --font-family-config: 22px 'Quantico', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

body,
input,
textarea {
    font: var(--font-family-config);
}

body {

    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: var(--background-color);
}

main {
    height: 70%;
    width: 85%;
}

form input,
form textarea,
section.message {
    border-radius: 10px;
    border: var(--border-config);
}

section#messages {
    height: 90%;
    margin-bottom: 1rem;
    background-color: white;
    overflow: auto;
    padding: 0 1rem;

    display: flex;
    flex-direction: column;
}

section#messages div {
    padding: 0.3rem 1rem; 
    width: 50%;
}

section#messages div .textMessage {
    width: auto;
}

section#messages div .textMessage {
    background-color: var(--primary-message-color);

}

section#messages div.owner {
    align-self: flex-end;
}

section#messages div.owner .textMessage {
    background-color: var(--secondary-message-color);
    
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

form input {
    width: 18%;
    padding: 0 1rem;
}

form textarea {
    padding: 0 1rem;
    width: 80%;
    resize: none;
}

form button {
    background-color: var(--button-color);
    width: 100%;
    height: 3rem;

    font-size: 1.5rem !important;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 10px;

    transition: 0.2s background-color;
}

form button:hover {
    background-color: var(--button-color-lighter);
}

form button span {
    font-size: 2rem !important;
}